<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <!-- <add key="dotnet-experimental" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-experimental/nuget/v3/index.json" protocolVersion="3" /> -->
    <!-- <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" protocolVersion="3" /> -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <!-- <packageSource key="dotnet-tools">
      <package pattern="Microsoft.CodeAnalysis.CSharp.SourceGenerators.Testing*" />
      <package pattern="Microsoft.CodeAnalysis.SourceGenerators.Testing*" />
      <package pattern="Microsoft.CodeAnalysis.Analyzer.Testing*" />
      <package pattern="Microsoft.CodeAnalysis.Testing.Verifiers.XUnit*" />
    </packageSource> -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
