name: Test Suite

on:
  workflow_call:
    inputs:
      checkout-ref:
        required: true
        type: string

permissions:
  contents: read

jobs:
  test-source-generator:
    uses: ./.github/workflows/_test-source-generator.yml
    with:
      checkout-ref: ${{ inputs.checkout-ref }}
      dotnet-sdk: '10.0.x'

  tests:
    needs: test-source-generator
    strategy:
      max-parallel: 16
      matrix:
        lifetime: [Singleton, Scoped, Transient]
        publisher: [ForeachAwait, TaskWhenAll]
        size: [Default, Large]
        cachingMode: [Eager, Lazy]
        dotnet:
          - sdk: |
              8.0.x
              10.0.x
            framework: net8.0
          - sdk: |
              9.0.x
              10.0.x
            framework: net9.0
          - sdk: '10.0.x'
            framework: net10.0
    uses: ./.github/workflows/_build-and-test.yml
    with:
      checkout-ref: ${{ inputs.checkout-ref }}
      lifetime: ${{ matrix.lifetime }}
      publisher: ${{ matrix.publisher }}
      size: ${{ matrix.size }}
      cachingMode: ${{ matrix.cachingMode }}
      dotnet-sdk: ${{ matrix.dotnet.sdk }}
      dotnet-framework: ${{ matrix.dotnet.framework }}

  test-memory:
    needs: tests
    strategy:
      max-parallel: 16
      matrix:
        dotnet:
          - sdk: |
              8.0.x
              10.0.x
            framework: net8.0
          - sdk: '10.0.x'
            framework: net10.0
    uses: ./.github/workflows/_test-memory.yml
    with:
      checkout-ref: ${{ inputs.checkout-ref }}
      dotnet-sdk: ${{ matrix.dotnet.sdk }}
      dotnet-framework: ${{ matrix.dotnet.framework }}

  samples-showcase:
    needs: test-memory
    strategy:
      max-parallel: 16
      matrix:
        dotnet:
          - sdk: |
              8.0.x
              10.0.x
            framework: net8.0
          - sdk: |
              9.0.x
              10.0.x
            framework: net9.0
          - sdk: '10.0.x'
            framework: net10.0
    uses: ./.github/workflows/_sample-showcase.yml
    with:
      checkout-ref: ${{ inputs.checkout-ref }}
      dotnet-sdk: ${{ matrix.dotnet.sdk }}
      dotnet-framework: ${{ matrix.dotnet.framework }}

  samples-aot:
    needs: samples-showcase
    strategy:
      max-parallel: 16
      matrix:
        dotnet:
          - sdk: |
              8.0.x
              10.0.x
            framework: net8.0
          - sdk: |
              9.0.x
              10.0.x
            framework: net9.0
          - sdk: '10.0.x'
            framework: net10.0
    uses: ./.github/workflows/_sample-aot.yml
    with:
      checkout-ref: ${{ inputs.checkout-ref }}
      dotnet-sdk: ${{ matrix.dotnet.sdk }}
      dotnet-framework: ${{ matrix.dotnet.framework }}

  samples-netfx:
    needs: samples-aot
    uses: ./.github/workflows/_sample-netfx.yml
    with:
      checkout-ref: ${{ inputs.checkout-ref }}
